/*::: stylish-for-android-remover :::*/
.overlay_background,
.overlay_container,
.android_button_banner,
.android_button_button,
.walking,
.us-stylecard--short .fallbackDiv,
#top_android_button {
  display: none !important;
}

.us-stylecard--short:nth-child(3):not(.us-stylecard--short-android),
.us-stylecard--short:nth-child(5):not(.us-stylecard--short-android),
.us-stylecard--short:nth-child(12):not(.us-stylecard--short-android) {
  display: none!important;
}

@media (min-width: 1500px) {
  .us-stylecard--short {
    width: 380px;
  }
}

@media (max-width: 1499px) {
  .us-stylecard--short {
    width: 280px;
  }
}
